<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Модуль техподдержки</title>
    <link href="/css/app.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="header__box">
        <div class="header__box-sb-l">
            <div>
                <i class="fa fa-headphones" aria-hidden="true"></i>
                <div>
                    <span>PHP</span> Developers tool
                </div>
            </div>
        </div>
        <!-- /.header__box-sb-l -->
        <div class="header__box-sb-r">
            <i class="fa fa-star" aria-hidden="true"></i>
            <form action="#">
                <div>
                    <input type="text" placeholder="Сообщение...">
                    <div class="send_btn">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    </div>
                    <!-- /.send_btn -->
                </div>
            </form>
        </div>
        <!-- /.header__box-sb-r -->
        <div class="clearfix"></div>
    </div>
    <!-- /.header__box -->
    <div class="body__box">
        <div class="body__box-users">
            <ul>
            </ul>
        </div>
        <!-- /.body__box-users -->
        <div class="body__box-dialog">
            <div class="cssload-loader">
                <div class="cssload-inner cssload-one"></div>
                <div class="cssload-inner cssload-two"></div>
                <div class="cssload-inner cssload-three"></div>
            </div>
            <ul>
                <li class="empty__dialog">Выберите диалог...</li>
            </ul>
        </div>
        <!-- /.body__box-dialog -->
        <div class="clearfix"></div>
    </div>
    <!-- /.body__box -->
</div>
<!-- /.container -->

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/app.min.js"></script>
</body>
</html>